@charset "UTF-8";

body {
    font-family:Arial, Helvetica, sans-serif;
}

/*flex-wrap: wrap; faz o conteudo caber dentro do espaço que determinou*/

header div.container {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    flex-flow:row wrap; /* direçao do angulo e espaçamento*/
    background-color: #dddddd;
}

.container div {
    width:300px;
    background-color: #ff0000;
    margin:10px;
    padding: 10px;
    font-size:18px;
}