@charset "UTF-8";

/*Alinhamentos em flex-box
    column;
    column-reverse;
    row;
    row-reverse;
*/

.container {
    display:flex; 
    flex-direction: row-reverse;
    background-color: #3d0f0f;
    margin: 10px;
}

.container2 {
    display:flex;
    flex-direction: column;/*direção vertical*/
    background-color: #3d0f0f;
    margin:10px;
}

.container3 {
    display:flex;/*tudo que esta no container/box fica flexivel*/
    flex-direction: row; /*direção horizontal*/
    background-color: #3d0f0f;
    margin:10px;
}

.container div, 
.container2 div {
    background-color: #fbff0091;
    margin:10px;
    padding:10px;
    font-size: 20px;
}

.container3 div {
    flex:1; /*dividi o espaço do conteudo*/
    background-color: #0059ff;
    margin:10px;
    padding:10px;
    font-size: 20px;
}